mediamtx
mediamtx.exe
mediamtx.pid
mediamtx.yml
.venv
__pycache__
*.pyc
node_modules
dist
build__pycache__
*.pyc
*.pyo
*.pyd
venv/
.venv/
node_modules/
client/node_modules/
client/dist/
dist/
ml/
server/mediamtx
server/mediamtx.pid
*.log
.env
server/.env
.git
.gitignore
# Ignore heavy local folders
**/node_modules
**/venv
**/.venv
**/__pycache__
**/.git
**/dist
**/build

# Ignore local data
server/ml/*.pt
server/ml/*.json
server/ml/*.xml
server/ml/*.bin
server/ml/*.xml