# --- Model Development ---


# --- System Development ---
bcrypt
flask
flask-socketio
flask-jwt-extended
flask-sqlalchemy
eventlet
mysql-connector-python
sqlalchemy
requests
aiohtt
PyMySQL

# --- Environment Management ---
python-dotenv

# --- Production Server ---
gunicorn

# --- Alert and Notification System ---
paho-mqtt

# --- Frontend Tooling (optional if integrated through Node.js) ---
tailwindcss
