# --- Model Development ---
opencv
numpy

# --- System Development ---
bcrypt
flask
flask-socketio
flask-jwt-extended
flask-sqlalchemy
eventlet
mysql-connector-python
sqlalchemy
requests
aiohtt
PyMySQL

# --- Environment Management ---
python-dotenv

# --- Production Server ---
gunicorn

# --- Deployment Server ---
ngix

# --- Alert and Notification System ---

# --- Frontend Tooling ---
tailwindcss
